.flexbox-container{
    display: flex;
    top: 0%;
    position: absolute;
}

.flexbox-item-1 {
    width: 20%;
    border: none;
}
.hi img{
    margin-left: 15%;
}
.flexbox-item-1 h2{
    margin-right: 60%;
    color: rgb(198, 137, 176);
    background-color: rgb(56, 63, 68);
    font-style: italic;
}
.mrg{
    font-size: larger;
    font-weight: 500;
    margin-right: 80%;
    color: rgb(195, 52, 147);
}
.profile{
    background-color: #e10ca5;
    width: 10%;
    height: 30px;
    margin-left: 80%;
}
.profile a{
    text-decoration: none;
    font-size: 20px;
    color: #171115;
}
.flexbox-item-1 h4{
   
    font-style: italic;
    font-size: larger;
    height: 40px;
    color: rgb(198, 137, 176);
    background-color: rgb(29, 29, 39);
}
.flexbox-item-1 p{
   font-style: italic;
    overflow: hidden;
    color: rgb(198, 137, 176);
    background-color:rgb(24, 24, 24);
}
.flexbox-item-1 button img{
    margin-left: 25%;
    border-radius: 70%;
    background-color: white;
}
.flexbox-item-2{
    width: 80%;
    min-height: 745px;
    border: none;
}
.flexbox-item-2 input[type="submit"]{
    font-style: italic;
    background-color: rgb(217, 190, 212);
    width: 12%;
    height: 7%;
    color: rgb(198, 137, 176);
    font-weight: 500;
    font-size: x-large;
    border-color: purple;
    margin-left: 80%;
}
.flexbox-item-2  img{
    margin-right: 60%;
    border-radius: 3%;
    display: flex;
    flex-flow: row;
}
.good {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-flow: row;
}
.song{
    width: 40%;
    height: 20%;
    background-color: #e10ca5;
    padding: 1em;
    display: flex;
    flex-flow: row;
    text-align: center;
}
.gv{
    text-align: center;
    width: 40%;
    height: 20%;
    display: flex;
    flex-flow: row;
    padding: 1em;
    background-color: #f069e7;
    margin-left: 10%;
}
.gv h4{
    margin-left: 2%;
}
.song h4{
  color: rgb(11, 10, 10);
  margin-bottom: 5%;
}
.pic {
    margin-right: 60%;
    display: flex;
    flex-flow: row;
}
.artist{
    background-color: #201c1f;
}
.hp {
   margin-left: 18%;
}
.hp a{
   border: none;
   text-decoration: none;
   font-size: larger;
   color: #171115;
   background-color: #f069e7;
}
.ar{
    display: flex;
    flex-flow: row;
}
.shree{
    margin-top: 3%;
    margin-left: 5%;
    width: 15%;
    height: 270px;
    padding: 1em;
    background-color: #f069e7;
    position: relative;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.bel{
    margin-top: 3%;
    margin-left: 5%;
    width: 15%;
    height: 270px;
    padding: 1em;
    background-color: #f069e7;
     font-style: italic;
    font-size: small;
    font-weight: 500;
}
.who{
    
    margin-top: 3%;
    margin-left: 5%;
    width: 15%;
    height: 270px;
    padding: 1em;
    background-color: #f069e7;
}
.bts{
    margin-top: 3%;
    margin-left: 5%;
    width: 15%;
    height: 270px;
    padding: 1em;
    background-color: #f069e7;
}