.wrapper2 { 
  top: 0%;
  position: absolute;
height: 580px;
 width: 38%;
margin-top: 7%;
  margin-left: 30%;
  background: rgba(225, 225, 225, 0.05);
  box-shadow: rgba(74, 73, 73, 0.3);
  -webkit-backdrop-filter: blur(0.3px);
  border:  solid rgba(61, 48, 48, 0.3);
  backdrop-filter: blur(0.3px);
  }


 .field2 input{
  margin-left: 40%;
  height: 70px;
  width: 160%;
  outline: none;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
 .signup-link{
  margin-top: 30px;
  margin-left: 30%;
}
.signup-link .Mybutton2{
  width: 60%;
  height: 50px;
  border: none;
}
 .signup-link a {
  color:rgb(20, 11, 11);
  text-decoration: none;
  font-size: larger;
  font-weight: 500;

}
 .field2 input:focus{
  border-color: #ee10db;
}

.field2 {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 9px 8px;

}